.__register {
    width: 100%;
    background-image: url('../../assets/login_background.jpg');
    position: relative;

    .__register__container {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    form#__register__form {
        background-color: rgba(0, 0, 0, .6);
        backdrop-filter: blur(5px);
        padding: 60px 40px;
        border-radius: 5px;
        width: 80%;

        @media screen and (max-width: 480px) {}

        h1 {
            color: #fff;
            font-weight: 400;
            text-align: center;
            font-size: 25px;
            margin-bottom: 30px;
        }

        p {
            color: #fff;
            font-size: 11px;

            input {
                margin-right: 5px;
            }

            span {
                color: crimson;
            }
        }

        .__flat-button {
            width: 100%;
            margin: 2rem 0;
        }
    }

    .input-part {
        display: flex;
        gap: 2rem;
        margin-bottom: 20px;

        @media screen and (max-width: 776px) {
            flex-direction: column;
        }
    }

    .down-form {
        text-align: center;
        font-size: larger;

        a {
            color: crimson;
            text-decoration: none;
        }
    }
}